
@import "tailwindcss";

@theme {
  --font-primary: "GT Walsheim", "Arial", "sans-serif";

  --color-alphaPurple: #BB7CD2;
  --color-alphaYellow: #FEBE4F;
  --color-alphaGreen: #05A368;
  --color-alphaBlue: #5F90FF;
  --color-alphaRed: #691F13;

  --color-alphaDark: #222222;
  --color-alphaLight: #FFFFFF;
}

/* 
@font-face {
  font-family: 'GT Walsheim';
  src: url('@/assets/fonts/GT-Walsheim-Regular.woff2') format('woff2'),
       url('@/assets/fonts/GT-Walsheim-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('@/assets/fonts/GT-Walsheim-Regular-Oblique.woff2') format('woff2'),
       url('@/assets/fonts/GT-Walsheim-Regular-Oblique.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('@/assets/fonts/GT-Walsheim-Medium.woff2') format('woff2'),
       url('@/assets/fonts/GT-Walsheim-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('@/assets/fonts/GT-Walsheim-Medium-Oblique.woff2') format('woff2'),
       url('@/assets/fonts/GT-Walsheim-Medium-Oblique.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('@/assets/fonts/GT-Walsheim-Bold.woff2') format('woff2'),
       url('@/assets/fonts/GT-Walsheim-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('@/assets/fonts/GT-Walsheim-Bold-Oblique.woff2') format('woff2'),
       url('@/assets/fonts/GT-Walsheim-Bold-Oblique.woff') format('woff');
  font-weight: 700;
  font-style: italic;
} */
